.nav-menu {
  background-color: white;
  width: 320px;
  height: 100vh;
  display: flex;
  justify-content: start;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  border: 1px solid black;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}
.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  height: 40px;
  font-family: sans-serif;
}

.nav-text a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  height: 100%;
  display: flex;
  border-radius: 4px;
}
