* {
  font-family: sans-serif;
}
.navbar {
  background-color: #008ecc;
  margin: auto;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -8px;
}
.menu_bars {
  font-size: 1.5rem;
  background: none;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_menu_items {
  width: 100%;
  margin-top: -0px;
}

.navbar_toggle {
  background-color: #008ecc;
  width: 115%;
  height: 90px;
  display: flex;
  margin-left: -40px;
  margin-bottom: 15px;
}

.main_logo {
  width: 118px;
  height: 118px;
}
.Searchbar {
  width: 720px;
  background-color: white;
  border: transparent;
  border-radius: 3px;
  height: 40px;
}
.FaListUl {
  width: 20px;
  height: 20px;
}
.cart_img {
  color: white;
  width: 20px;
  height: 20px;
}
.outline_logo {
  color: white;
}
.aiHello {
  width: 48%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  color: white;
  margin-left: 5px;
  margin-top: 2px;
}
.userCircle {
  width: 25px;
  height: 25px;
}
.sidebar_buttons {
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -16px;
  margin-top: 5px;
}
.sidebar_buttons > button {
  width: 147px;
  background: transparent;
  height: 30px;
  border: 1px solid white;
  color: white;
}
.search_div {
  width: 56%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.loginDiv {
  width: 10.5%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 15px;
}
.userLogo {
  width: 20px;
  height: 20px;
  color: white;
}
.cartDiv {
  width: 4.5%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
